/* Feuille de style pour la création du site sur la Blockchain et les crypto */
/* Version du 16/01/2022*/
/* Riaz EMAMUCK */

/* Importation d'une police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

#myAccueil{
    position: relative;
    top: 1rem;
    left: 5%;
    width: 90%;
    padding: 5px;
    height: 35rem;
    background-color: cadetblue;
    font-size: 1em;
    color: black;
    z-index: unset;
    border-radius: 5px;
    border-width: 3px;
    border-left-style: outset;
    border-left-color: lightgray;
    border-top-color: lightgray;
    border-right-color: darkgrey;
    border-bottom-color: darkgrey; 
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.myHistorique, .myIllustration, .myPresentation{
    background-color: oldlace;
    padding: 4px;
    margin: 10px;
    text-align: center;
    color: black;
    margin: 2%;
    border-width: 3px;
    border-left-style: outset;
    border-left-color: lightgray;
    border-top-color: lightgray;
    border-right-color: darkgrey;
    border-bottom-color: darkgrey;
    overflow: auto;
    background-color: oldlace;
}

.myPresentation h4{
    margin-top: 4vh;
    color: cadetblue;
}

.myHistorique{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 20px;
}

.myIllustration{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 20px;
}

.myPresentation{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 20px;
    height: 6rem;
}

img{
    margin-top: 10px;
}

.myBlocTitre{
    padding-top: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    font-weight: bolder;
    color: black;
}

.myParagrafe{
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: bolder;
    color: black;
}

#logo{
    margin-top: -0.05vh;
}

@media screen and (max-width: 728px){
    #myAccueil{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }  
    .myHistorique, .myIllustration, .myPresentation{
        overflow-y: auto;
        width: 95%;
    }
   
}

