/* Feuille de style pour la création du site sur la Blockchain et les crypto */
/* Version du 16/01/2022*/
/* Riaz EMAMUCK */

/* Importation d'une police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */



.myIllustration{
    background-color: oldlace;
    text-align: center;
    color: black;
    border-left-style: outset;
    border-left-color: lightgray;
    border-top-color: lightgray;
    border-right-color: darkgrey;
    border-bottom-color: darkgrey;
    overflow: auto;
}


.myBlocTitre{
    text-align: center;
    padding-top: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 1.6em;
    font-weight: bolder;
    color: black;
}

.myParagrafe{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: bolder;
    color: black;
}

